<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bookclub | Welcome</title>
  <!-- Bootstrap StyleSheet CDN -->
 
	
	 <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.2/css/bootstrap.min.css} "/>
</head>

<body>
	
	<div th:insert="fragments/header"> </div>
	
	<main>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Book Club</h1>
				<p class="lead text-muted">
					Welcome to the Book Club app, your "one stop shop" for all of your book club needs.
					Below you will find a list of this months top 10 favorite books.Select the book to see it's details.
				</p>
				<div class="col" th:each="book : ${books}">
				  <p class = "card-text">
				  <span th:text="${book.getTitle()}"></span>
				  <br />
				  <small class = "text-muted"><em th:text="${book.getDescription()}"></em></small>
				   <div class = "btn-group">
				   		<a href = "#" th:href = "@{/{id}(id=${book.getIsbn()})}" class = "btn btn-sm btn-outline-secondary">View</a>
				   </div>
				  </p>
				  </br>
				  		
				</div>
			</div>
			</div>
		</section>
	</main>
	
	<div th:insert="fragments/footer"></div>
	<div th:insert="fragments/scriptFooter"> </div>




</body>

</html>







