<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Details</title>
  
 <!-- Bootstrap StyleSheet CDN -->
  
 <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.2/css/bootstrap.min.css} "/>
 
</head>

<body>
	
	<div th:insert="fragments/header"> </div>
	
	<div class="row">
    <div class="col-sm-3">
        <div class="card">
      
            <div class="card-subtitle text-muted">
                Pages: <span th:text="${book.getNumOfPages()}"></span>
            </div>
            
            <div class="card-text">
               <p>
               <strong>Description:</strong> <br /><span th:text="${book.getDescription()}"></span>
                </p>
   
               <strong>Web Link:</strong> 
                <p>
               <a href = "#" th:href = "${book.getInfoUrl()}" th:text="${book.getInfoUrl()}">Web Link</a>
                </p>
          
            </div>
            
        </div>
        
        </br>
        </br>
        <a href="/" th:href="@{/}"> Return to books</a>
    </div>
</div>  







</body>

</html>