<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Bookclub | My Wishlist</title>
  <!-- Bootstrap StyleSheet CDN -->
 
	
	 <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.2/css/bootstrap.min.css} "/>
</head>





<body>
	
	
<main>	
<div class="container py-5">
<div class="row">
    <form action="#" th:action="@{/wishlist}" method="post" th:object="${wishlistItem}">
    	
    	<div class = "mb-3">
	    	<label class = "form-label" for = "isbn">ISBN</label>
	        <input type="text" class = "form-control" th:field="*{isbn}" name = "isbn" id ="isbn"/>
	        <small th:if="${#fields.hasErrors('isbn')}" style="color: red;" th:errors="*{isbn}"></small>
    	</div>
    	<br />
    	<div class = "mb-3">
	    	<label class = "form-label" for = "title">Title</label>
	        <input type="text" class = "form-control" th:field="*{title}" name = "title" id ="title"/>
	        <small th:if="${#fields.hasErrors('title')}" style="color: red;" th:errors="*{title}"></small>
    	</div>
      
    
 

        <br />
        <br />
        
 
        <button type="submit">Save</button>    
    </form>
    </div>
     <br />
     <br />
      <br />
        
    <div class=" row">
    <p class = "float-end mb-1" >
	<a href="/wishlist" th:href="@{/wishlist}">Return to wishlist</a>
	</p>
    </div>
    
 </div>
 </main>


	
</body>
</html>